@import'../common/variables';

.layout{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  // overflow-x: hidden;
}


.header{
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 260px;
  min-height: 60px;
  background-color: var(--cff);
  position: sticky;
  top: 0;
  align-self: flex-start;
  padding: 0 20px;
  z-index: 90;
  .lft{
    width: 26px;
    position: absolute;
    left: 20px;
    top: 16px;
  }
  .rgt{
    min-width: 100px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    right: 20px;
    top: 16px;
  }
  .title{
    flex: 1;
    text-align: center;
    @include h3;
  }
  
  button{
    min-width: 26px;
    min-height: 26px;
    width: 30px;
    height: 30px;
    & + button{
      margin-left: 10px;
    }
    span{
      flex: none;
    }
  }
}

.dimd{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -99;
  left: -100%;
  opacity: 0;
  transition: all 0.2s, left 0.5s;
  &.open{
    background-color: rgba(0,0,0,0.5);
    opacity: 1;
    z-index: 800;
    left: 0;
    transition: all 0.7s, left 0.1s;
  }
}

.menu{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: 100%;
  // overflow-y: auto;
  top: 0;
  right: -100%;
  transition: right 0.5s;
  z-index: 900;
  &.open{
    right: 0;
    transition: right 0.6s;
  }
  &_top{
    // flex: 1;
    display: flex;
    // height: calc(100% - 115px);
    flex-direction: column;
  }
  &_bottom{
    flex: 1;
    padding: 20px 20px 45px;
    overflow-y: auto;
    button{
      color: var(--c33);
      font-size: 1.4rem;
      padding: 0;
      margin-top: 20px;
      font-weight: 400;
    }
  }
  &_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 260px;
    min-height: 60px;
    padding: 0 20px;
  }
  &_user{
    &_txt{
      padding: 0 20px;
      p{
        span{
          display: block;
          @include h4();
          font-weight: 500;
          strong{
            font-weight: 700;
          }
          & + span{
            margin-top: 10px;
            font-size: 16px;
          }
        }
      }
    }
    &_img{
      width: 94px;
    }
  }
  nav{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    height: 100%;
    background-color: var(--cff);
    top: 0;
    z-index: 950;
    // overflow-y: auto;
  }
  &_wrap{
    display: flex;
    flex-direction: column;
    // padding: 0 20px;
    flex: 1;
    // height:calc(100% - 50px) ;
    // overflow-y: auto;
  }
  &_dep1{
    border-top: 1px solid var(--cee);
    &:last-child{
      border-bottom: 1px solid var(--cee);
    }
    a{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @include h5(var(--c00));
      font-weight: 500;
      height: 66px;
      position: relative;
      span{
        margin-left: 14px;
      }
    }
    &_active{
      display: block;
      > a{
        > span{
          color: var(--point);
        }
      }
    }
  }
}

.active{
  span{
    color: var(--point);
    font-weight: 500;
  }
}

.content{
  flex: 1;
  height: calc(100% - 60px);
  overflow-y: auto;
}


.login{
  align-items: center;
  justify-content: center;
  background-color: #F6F5F0;
  min-height: 594px;
  .content{
    flex: 1;
    display: flex;
    min-height: 594px;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    overflow-y: unset;
  }
}