@import'../common/variables';

.layout{
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.content{
  display: flex;
  height: 100vh;
  flex: 1;
  &_box{
    width: 100%;
    height: 100vh;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &_left{
      position: relative;      
      background: #000;
      flex: 1;
      // display: none;
    }
    &_right{      
      width: 26.04vw;
      background: #3E4B57;
      // display: none;
    }
  }
}