@import'../common/variables';

.layout{
  display: flex;
  height: 100%;
  background-color: var(--bgf0);
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 260px;
  background-color: var(--c11);
  padding: 30px 0 0;
}

.user{
  &_img{
    display: block;
    width: 60px;
    &_box{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    & + p{
      color: var(--cff);
    }
  }
  &_util{
    display: flex;
    width: 100%;
    padding: 0 20px;
  }
  &_button{
    min-height: 40px;    
    border: 1px solid var(--c99);
    span{
      @include body1(var(--cff));
    }
    &:hover{
      span{
        color: var(--cee);
      }
    }
  }
}

.menu{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0 20px 20px;
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--c00);
  }

  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: var(--cdd);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    width: 5px;
    border: 4px solid var(--c99);
    background-color: var(--c99);
  }

  &_dep1{
    border-top: 1px solid var(--c33);
    border-bottom: 1px solid var(--c33);
    & + .menu_dep1{
      border-top: 0;
    }
    a{
      display: flex;
      align-items: center;
      @include h5(var(--cdd));
      font-weight: 600;
      height: 46px;
      position: relative;
      padding: 0 10px;
      &:hover{
        color: var(--cee);
      }
    } 
    p{
      display: flex;
      align-items: center;
      width: 100%;
      height: 46px;
      @include h5(var(--cdd));
      font-weight: 600;
      position: relative;
      text-align: left;
      padding: 0 10px;
    }
    &_active{
      display: block;
       > p{
        > span{
          color: var(--cff);
          font-weight: 700;
        }
      }
      >a{
        > span{
          color: var(--cff);
          font-weight: 700;
          text-decoration: underline;
        }
      }
    }
  }
  &_dep2{
    height: 20px;
    position: relative;
    & + .menu_dep2{
      margin-top: 10px;
    }
    a{
      height: 20px;
      font-weight: 400;
      color: var(--c99);
      padding-left: 15px;
      position: relative;
      &::before{
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background-color: var(--c99);
        position: absolute;
        left: 0;
      }
      &.active{
        span{
          color: var(--cff);
          font-weight: 500;
          text-decoration: underline;
        }
        &::before{
          background-color: var(--cff);
        }
      }
    }
    &_wrap{
      display: block;
      padding: 15px 10px;
      border-top: 1px solid var(--c33);
    }
  }
  &_btn{
    font-weight: 300;
  }
}

// .active{
//   span{
//     color: var(--point);
//     font-weight: 500;
//     text-decoration: underline;
//     &::before{
//       background-color: var(--point);
//     }
//   }
// }

.content{
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  padding: 30px 20px;
  overflow: auto;
  &_box{
    width: 100%;
    flex: 1;
    background-color: var(--cff);
    border-radius: 8px;
    padding: 20px;
    @include shadow(0, 4px, 4px, rgba(0,0,0,0.1));
    &_top{
      display: flex;
      justify-content: flex-start;
      padding: 0;
      flex: none;
      background-color: transparent;
      box-shadow: none;
      > div{
        background-color: var(--cff);
        @include shadow(0, 2px, 4px, rgba(0,0,0,0.1));
        padding: 5px 20px;
        border-radius: 8px;
        & + div{
          margin-left: 10px;
        }
        & + button{
          margin-left: 10px;
        }
      }
      > button{
        @include shadow(0, 2px, 4px, rgba(0,0,0,0.2));
        & + button{
          @include shadow(0, 2px, 4px, rgba(0,0,0,0.1));
        }
      }
    }
    & + .content_box{
      margin-top: 10px;
    }
  }
}

.adminlogin{
  align-items: center;
  justify-content: center;
  background-color: #F6F5F0;
  .content{
    flex: 1;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    overflow-y: unset;
  }
}

