@import'../common/variables';

// 버튼의 기본크기는 large를 기준
.btn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  min-height: 50px;
  padding: 10px 20px;
  border: 0;
  // box-sizing: border-box;
  @include h5(var(--cff));
  line-height: 100%;
  &:disabled{
    cursor: default;
    background-color: var(--bgf8) !important;
    color: var(--cdd) !important;
  }
  i{
    margin-right: 10px;
    &.right{
      margin-left: 10px;
      margin-right: 0;
    }
  }
}
// round
.round{
  @include rounded(6px);
}
// none
.none{
  min-width: auto;
  min-height: auto;
  text-decoration: underline;
  padding: 0;
  background-color: transparent !important;
  font-weight: 400;
  &:disabled{
    background-color: transparent;
  }
}
// color
.point{
  background-color: var(--point);
  &.line{
    border: 1px solid var(--point);    
  }
  &.none{
    color: var(--point);
  }
}
.black{
  background-color: var(--primary);
  color: var(--cff);
  &.line{
    border: 1px solid var(--primary);
  }
  &.none{
    color: var(--primary);
  }
}
.gray{
  background-color: #D9D9D9;
  &.line{
    border: 1px solid #D9D9D9;
  }
  &.none{
    color: var(--c77);
  }
}
.red{
  background-color: var(--red);
  color: var(--cff);
  &.line{
    border: 1px solid var(--red);
    color: var(--red);
  }
  &.none{
    background-color: transparent;
    color: var(--red);
  }
}
.blue{
  background-color: var(--blue);
  color: var(--cff);
  &.line{
    border: 1px solid var(--blue);
    color: var(--blue);
  }
  &.none{
    background-color: transparent;
    color: var(--blue);
  }
}
.trans{  
  color: var(--cff);
  &.line{
    background-color: transparent;
    border: 1px solid var(--c66);
  }
}
.white{
  background-color: var(--cff);
  color: var(--primary);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}
//line defalut
.line {
  background-color: var(--cff);
  color: var(--primary);
  padding: 8px 20px;
}
//text color
.txtgray{
  color: var(--c77);
}
.txtwhite{
  color: var(--cff);
}
//size
.full{
  width: 100%;
  min-height: 50px;
  font-size: 1.8rem;
}
.xlarge{
  min-width: 150px;
  min-height: 50px;
  font-size: 1.7rem;
}
.large{
  min-width: 86px;
  min-height: 50px;
  font-size: 1.7rem;
}
.medium{
  min-width: 100px;
  min-height: 40px;
}
.small{
  min-width: 92px;
  min-height: 35px;
  font-size: 1.4rem;
  font-weight: 400;
}
.xsmall{
  min-width: auto;
  min-height: 35px;
  font-size: 1.4rem;
  font-weight: 400;
}
.xxsmall{
  min-width: auto;
  min-height: 26px;
  font-size: 1.4rem;
  padding: 6px 12px;
  font-weight: 400;
}
.icon_l{
  min-width: auto;
  min-height: auto;
  width: 45px;
  height: 45px;
  padding: 10px;
  &.round{
    @include rounded(8px);
  }
  i{
    margin: 0;
    font-size: 0;
  }
}
.icon_m{
  min-width: auto;
  min-height: auto;
  width: 40px;
  height: 40px;
  padding: 10px;
  i{
    margin: 0;
    font-size: 0;
  }
}
.icon_s{
  min-width: auto;
  min-height: auto;
  width: 35px;
  height: 35px;
  padding: 7px;
  &.white{
    border: 1px solid #d9d9d9;
    box-shadow: none;
  }
  &.round{
    @include rounded(4px);
  }
  i{
    margin: 0;
    font-size: 0;
  }
}
//badge
.badge {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 12px;
  height: 12px;
  padding: 2px;
  border-radius: 10px;
  background-color: #F95729;
  font-size: 10px;
  font-weight: 500;
  color: var(--cff);
  transform: translate(20%, 0);
}

.pc{
  &.btn{
    &:hover{
      color: var(--c66);
    }
    &:disabled {
      &:hover{
        background-color: var(--bgf8) !important;
        color: var(--cdd) !important;
      }
    }
    &.line{
      &:disabled{
        border-color: #f7f7f7 !important;
        background-color: var(--cff) !important;
        &:hover{
          border-color: #f7f7f7 !important;
          background-color: var(--cff) !important;
          color: var(--cdd) !important;
        }
      }
    }
  }
  &.point{
    &:hover{
      background-color: #BEDD00;
      color: var(--primary);
    }
    &.none{
      &:hover{
        color: #BEDD00;
      }
    }
  }
  &.black{
    &:hover{
      background-color: var(--c44);
      color: var(--cff);
    }
    &.line{
      &:hover{
        border-color: var(--c99);
        background-color: var(--cff);
        color: var(--primary);
      }
    }
    &.none{
      &:hover{
        color: var(--c44);
      }
    }
  }
  &.gray{
    &:hover{
      background-color: var(--cee);
      color: var(--primary);
    }
    &.line{
      &:hover{
        border-color: var(--c99);
        background-color: var(--cff);
      }
    }
    &.none{
      &:hover{
        color: var(--primary);
      }
    }
  }
  &.red{
    &:hover{
      background-color: var(--cff);
      border: 1px solid var(--red);
      color: var(--red);
    }
    &:disabled{
      &:hover{
        border-color: #f7f7f7;
      }
    }
    &.line{
      &:hover{
        background-color: var(--red);
        color: var(--cff);
      }      
    }
    &.none{
      &:hover{
        color: #E90038;
        border: 0;
      }
    }
  }
  &.blue{
    &:hover{
      background-color: #3649CB;
      color: var(--cff);
    }
    &:disabled{
      &:hover{
        border-color: #f7f7f7;
      }
    }
    &.line{
      &:hover{
        background-color: var(--blue);
        color: var(--cff);
      }
    }
    &.none{
      &:hover{
        color: #203168;
      }
    }
  }
  &.trans{
    &:hover{      
      background-color: transparent;
      border-color: var(--cff);
      color: var(--cff);
      i{
        svg{
          path{
            stroke: var(--point);
          }
        }
      }
    }    
    &.line{
      &:disabled {
        background-color: transparent !important;
        border-color: var(--c44);
        color: var(--c44);
        &:hover{
          background-color: transparent !important;
        }
      }
    }
  }
  &.white{
    &:hover{
      background-color: var(--point);
    }
  }
}