@import'../common/variables';

.chip{
  display: flex;
  justify-content: space-between;
  min-width: 160px;
  // background-color: #F5F6FA;
  border-radius: 4px;
  padding: 10px 10px 10px 15px;
  font-size: 1.4rem;
  border: 1px solid #d9d9d9;
  color: #1F1F1F;
  gap: 8px;

  .delete {
    cursor: pointer;
    width: 14px;
    height: 14px;
    position: relative;
    background-color: var(--cdd);
    border-radius: 7px;
    &::before {
      @include before_after;
      width: 7px;
      height: 1px;
      background-color: var(--cff);
      transform: rotate(-45deg);
      position: absolute;
      @include m_auto;
    }
    &::after {
      @include before_after;
      width: 7px;
      height: 1px;
      background-color: var(--cff);
      transform: rotate(45deg);
      position: absolute;
      @include m_auto;
    }
     &:hover{
      background-color: var(--c11);
    }
  }
  &:hover{
    border-color: var(--c11);
  }
}





