@import'../common/variables';

.countbox {
  display: flex;
  align-items: center;
  // max-width: 161px;
  .btncount{
    position: relative;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border: 1px solid var(--cbb);
    background-color: #fff;
    font-size: 0;
    &.minus,
    &.plus{
      &::before {
        @include before_after;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 1.5px;
        background-color: var(--primary);
      }
    }
    &.plus{
      &::after{
        @include before_after;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1.5px;
        height: 10px;
        background-color: var(--primary);
      }
    }
  }
 
  input {
    width: 100%;
    padding: 0;
    border: 0;
    outline: 0;
    @include body1(var(--c11));
    font-weight: bold;
    text-align: center;
  }
}

.small{
  max-width: 121px;
  input {
    @include font(var(--c11), 2.2rem, 700);
  }
}