.error {
  &_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  &_box {
    overflow: hidden;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  &_title{
    font-size: 30px;
    font-weight: 700;
    color: #111;
  }
  &_txt{
    white-space: pre-line;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #777;
    line-height: 26px;
  }
}

.kdserror{
  &_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #E6E8EB;
    padding: 50px;
  }
  &_box{
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.05);
  }
  &_title {
    font-size: 4rem;
    font-weight: 700;
    color: #000;
  }
  &_txt{
    white-space: pre-line;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    color: #000;
    line-height: 4.2rem;
  }
  &_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 237px;
    min-height: 65px;
    padding: 10px 20px;
    border: 0;
    border-radius: 6px;
    background-color: #3E4B57;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 100%;
  }
}
