@import "../common/variables";

.inputbox {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 35px;
  border: 1px solid var(--cdd);
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--cff);
  &:hover {
    border-color: var(--primary);
    .delete {
      background-color: var(--c99);
    }
  }
  &.disabled {
    background-color: var(--bgf5);
    &:hover {
      border-color: var(--ce7);
    }
  }
  &.focus {
    border-color: var(--primary);
  }

  .certification{
    @include body2(var(--blue));
    border-bottom: 1px solid var(--blue);
  }

  //초기화 버튼
  .delete {
    display: none;
    position: relative;
    width: 14px;
    height: 14px;
    background-color: var(--cdd);
    border-radius: 50%;
    flex: 1 0 auto;
    &::before {
      @include before_after;
      width: 7px;
      height: 1.5px;
      background-color: var(--cff);
      transform: rotate(-45deg);
      position: absolute;
      @include m_auto;
    }
    &::after {
      @include before_after;
      width: 7px;
      height: 1.5px;
      background-color: var(--cff);
      transform: rotate(45deg);
      position: absolute;
      @include m_auto;
    }
    &:hover {
      background-color: var(--primary);
    }
    &.block {
      display: block;
    }
  }
  //검색 버튼
  .search {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    flex: 1 0 auto;
  }
  //타이머
  .time {
    @include body4(var(--primary-b));
    color: var(--red);
  }
  
}
.round {
  @include rounded(4px);
}
.line {
  border: 0;
  border-bottom: 1px solid var(--ce7);
}
.none {
  border: 0;
  padding: 0;
  background-color: transparent;
  input {
    background-color: transparent;
  }
  .delete {
    display: none !important;
  }
  &.disabled {
    background-color: transparent;
    &:hover {
      border-color: var(--ce7);
    }
  }
}
.error {
  border-color: var(--red);
}
.readonly{
  &:hover{
    border-color: var(--cdd);
  }
  &.focus{
    border-color: var(--cdd);
  }
}
.large{
  height: 50px;
  padding: 17px 15px;
}
.txt_center {
  > input {text-align: center;}text-align: center;
}
// input 기본 스타일은 normal을 기준으로 합니다.
.input {
  width: 100%;
  border: 0;
  outline: 0;
  @include h5(var(--cee));
  font-weight: 400;
  appearance: none;
  &::placeholder {
    color: var(--c99);
  }
  &:focus {
    &::placeholder {
      color: transparent;
    }
  }
  &:disabled {
    cursor: default;
    color: var(--c99);
  }
  &.green{
    &::placeholder {
      color: #6D772F;
    }
  }
  &.phone {
    &:disabled {
      .certification {
        display: none;
      }
    }
  }
  
  &:read-only{
    cursor: default;
    &::placeholder{
      color: var(--c99);
    }
  }  
}

.input[type="number"] {
  text-align: right;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}