@import'../common/variables';

.radiolabel {
  display: flex;
  align-items: center;
  position: relative;
}

.radiocustom{
  display: block;
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  &::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: var(--primary);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.1s;
    position: absolute;
    @include m_auto;
  }
  & + .text{
    margin-right: 0;
    margin-left: 5px;
  }
}

.radioinput {
  visibility: hidden;
  width: 0;
  left: 0;
  &:checked + .radiocustom{
    border: 1px solid var(--primary);
    &:after{
      opacity: 1;
    }
    &:disabled{
      border: 1px solid var(--ce7);
      background-color: var(--bgf5);
    }
  }
  &:disabled + .radiocustom{
    cursor: default;
    border: 1px solid var(--ce7);
    background-color: var(--bgf5);
    &:after{
      background: var(--cbb);
    }
  }
}

.text{
  margin-right: 5px;
  @include body2();
}

