@import'../common/variables';

.tabs {
  display: flex;
  width: 100%;
  font-size: 0;

  button {
    position: relative;
    width: 100%;
    height: 70px;
    // padding-bottom: 21px;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--cbb);

    &::before {
      @include before_after;
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      background-color: var(--cdd);
    }

    &.active {
      font-weight: 700;
      color: var(--c11);

      &::before {
        height: 3px;
        background-color: var(--primary);
      }
    }
  }
  &_content{
    display: none;
    &.active{
      display: flex;
      flex: 1;
    }
  }
}

.linebox{
  flex-wrap: nowrap;
  gap: 10px;
  .btn {
    &.active {
      z-index: 0;
    }
  }
  button {
    width: 100%;
    height: 50px;
    border: 1px solid #E7E7E7;
    @include h5(var(--c99));
    font-weight: 400;
    &::before{
      display: none;
    }
    &.active {
      border-color: var(----primary);
      font-weight: 700;
      color: var(--c11);
    } 
  }
}

.admin {
  width: 100%;
  overflow-x: auto;
  position: relative;
  &::before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--ce7);
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &::-webkit-scrollbar-track {
    // border-radius: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    width: 0;
    // border: 4px solid transparent;
    background-color: transparent;
  }

  //가로스크롤
  &::-webkit-scrollbar:horizontal {
    height: 0;
  }

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: max-content;
    height: 50px;
    padding: 10px 20px;
    border: 1px solid var(--ce7);
    border-bottom: 0;
    @include body1(var(--c77));
    border-right: 0;
    &:last-child{
      border-right: 1px solid var(--ce7);
    }

    &::before {
      background-color: var(--cff);
      bottom: -2px;
      z-index: 10;
    }
    &:hover{
      color:  var(--primary);
      font-weight: 500;
    }

    &.active {
      border: 1px solid var(--primary);
      color: var(--c11); 
      &:hover{
        font-weight: 700;
      }
      & + button{
        border-left: 0;
      }
      &::before {
        background-color: var(--cff);
      }
    }
  }
}

.round {
  overflow-x: auto;
  padding: 20px;
  gap: 5px;
  &::-webkit-scrollbar-track {
    // border-radius: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    width: 0;
    // border: 4px solid transparent;
    background-color: transparent;
  }

  //가로스크롤
  &::-webkit-scrollbar:horizontal {
    height: 0;
  }

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: max-content;
    height: 35px;
    padding: 10px 20px;
    border: 1px solid var(--ce7);
    border-radius: 999px;
    @include body1(var(--c77));

    &::before {
      display: none;
    }

    &.active {
      border-color: var(--primary);
      color: var(--c11); 
    }
  }
}

.poingbg{
  flex-wrap: nowrap;
  row-gap: 0;  
  button {
    height: 50px;
    border: 0;
    border-top: 1px solid var(--cdd);
    border-bottom: 1px solid var(--cdd);
    @include h5(var(--c99));
    font-weight: 400;
    &:first-of-type {
      border-left: 1px solid var(--cdd);
    }
    &:last-of-type {
      border-right: 1px solid var(--cdd);
    }
    &::before {
      display: none;
    }
    &.active {
      border-color: var(--point);
      background-color: var(--point);
      font-weight: 700;
      color: var(--cff);
    }
    & + button {
      margin-left: 0;
    }
    
  }
}