@import'../common/variables';

.texttoggle {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 0;
  row-gap: 15px;
  .btn {
    position: relative;
    width: 50%;
    &:nth-child(2n){
      margin-left: -1px;
    }
    &.active {
      z-index: 1;
    }    
  }
  button {
    width: 100%;
    height: 40px;
    border: 1px solid #E7E7E7;
    @include h5(var(--c99));
    font-weight: 400;
    &.active {
      border-color: var(----primary);
      font-weight: 700;
      color: var(--c11);
    }    
  }
  .optiontext {
    position: absolute;
    left: 0;
    bottom: -17px;
    @include body2($color: var(--c11));
  }
}

.linebox{
  flex-wrap: nowrap;
  gap: 10px;
  .btn {
    &.active {
      z-index: 0;
    }
  }
  button {
    height: 50px;
  }
}