.align {
  display: flex;
  align-items: center; // 세로정렬(default)
  justify-content: space-between; // 좌우정렬(default)
  width: 100%;
  .wrap{
    flex-wrap: wrap;
  }
  // align 내 위 아래 정렬이 필요할 때 사용
  &.column {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
  // 아이템 가로 정렬 :: start / center / end
  &.center {
    justify-content: center;
  }
  &.start {
    justify-content: flex-start;
  }
  &.end {
    justify-content: flex-end;
  }

  // 아이템 세로 정렬 :: bottom / top
  &.middle {
    align-items: center;
  }
  &.bottom {
    align-items: flex-end;
  }
  &.top {
    align-items: flex-start;
  }
  // 아이템 간격
  .item {
    // text-align: center;
    align-items: center;
    display: inline-flex;
    // 아이템 간격 기본 마진 10px (gap으로 변경)
    & + .item {
      margin-left: 10px;
    }
  }
  // align 영역 내 좌우정렬 (좌우 정렬 아닐땐 사용하지 않음)
  .lft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }
  .rgt {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
  }
}

// 텍스트 정렬
.txt_lft {
  text-align: left;
}
.txt_center{
  text-align: center;
}
.txt_rgt{
  text-align: right;
}

.vertical_top{
  vertical-align: top;
}