@for $value from 0 through 100 {
  .h{
    &_#{$value} {
      .select__control{
        height: #{$value}px;
        padding: 0 15px;
      }
    }
  }
      
}

.select {
  width: 100%;
  &.line {
    .select__control{
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
  }
  &.round{
    .select__control{
      @include rounded(4px);
    }
    .select__menu{
      @include rounded(4px);
    }
  }
  
  
  &.allround{
    .select__control{
      @include rounded(16px);
    }
    .select__menu{
      @include rounded(16px);
    }
  }
  &__dropdown-indicator{
     &:after{
        @include before_after;
        width: 9px;
        height: 9px;
        border: 1.5px solid var(--cbb);
        transform: rotate(-45deg);
        border-top: 0;
        border-right: 0;
        margin-top: -5px;
        transition: all 0.2s;
      }
    svg{
      display: none;
    }
    
  }
  &__clear-indicator{
    width: 14px;
    height: 14px;
    position: relative;
    margin: 0 12px;
    @include rounded(7px);
    background-color: var(--cdd);
    cursor: pointer;
    &:after{
      @include before_after;
      width: 7px;
      height: 1.5px;
      background-color: var(--cff);
      transform: rotate(45deg);
      position: absolute;
      @include m_auto;
    }
      &::before{
      @include before_after;
      width: 7px;
      height: 1.5px;
      background-color: var(--cff);
      transform: rotate(-45deg);
      position: absolute;
      @include m_auto;
    }
    svg{
      display: none;
    }
  }
  &__control{
    @include rounded(0);
    border: 1px solid var(--ce7);
    padding: 0 10px;
    min-height: 35px !important;
    background-color: var(--cff);
    font-size: 1.6rem;
    &--menu-is-open{
      .select__dropdown-indicator{
        &:after{
          border-color: var(--primary);
          transform: rotate(-225deg);
          margin-top: 5px;
        }
      }
    }
    &--is-focused{
      border-color: var(--primary);
    }
    &:hover{
      border-color: var(--primary);
      .select__dropdown-indicator{
        &:after{
          border-color: var(--primary);
        }
      }
      .select__clear-indicator{
        background-color: var(--c99);
        &:hover{
          background-color: var(--primary);
        }
      }
    }
    &--is-disabled{
      background-color: var(--bgf5);
      border-color: var(--ce7);
      .select__placeholder{
        color: var(--c99);
      }
      .select__indicator{
        &:after{
          border-color: var(--cbb);
        }
      }
      .select__single-value{
        color: var(--c99);
      }
    }
  }
  &__placeholder{
    @include body2(var(--c99)); 
    font-size: 1.6rem;
    @include clamp(1);
    text-align: left;
  }
  &__menu{
    z-index: 2;
    background-color: var(--cff);
    border: 1px solid var(--primary);
    @include shadow(0, 4px, 4px, rgba(0,0,0,0.25));
    margin-top: -1px;
    &-list{
      // padding: 15px;
      max-height: 180px !important;
    }
  }
  &__option{
    @include body2();
    padding: 13px;
    text-align: left;
    &--is-selected{
      font-weight: 700;
      color: var(--c11);
      background-color: var(--bgfa);
    }
    &:hover{
      // font-weight: 700;
      background-color: var(--bgfa);
    }
  }
  &__multi-value{
    display: flex;
    align-items: center;
    height: 25px;
    border: 1px solid var(--primary);
    border-radius: 13px;
    padding: 0 15px;
    background-color: var(--bgfa);
    @include body4(var(--primary));
    font-weight: 500;
    & + .select__multi-value{
      margin-left: 10px;
    }
    &__remove{
      width: 12px;
      height: 12px;
      position: relative;
      margin-left: 12px;
      cursor: pointer;
      svg{
        display: none;
      }
      &:after{
        @include before_after;
        width: 10px;
        height: 1.5px;
        background-color: var(--primary);
        transform: rotate(45deg);
        position: absolute;
        @include m_auto;
        border-radius: 1px;
      }
       &::before{
        @include before_after;
        width: 10px;
        height: 1.5px;
        background-color: var(--primary);
        transform: rotate(-45deg);
        position: absolute;
        @include m_auto;
        border-radius: 1px;
      }
    }
  }
  &.app{
    .select__control{
      font-size: 1.6rem;
      border: 0;
      padding: 0;
      &--is-focused{
        font-size: 1.6rem;
      }
    }
    .select__dropdown-indicator{
      &:after{
        border-color: var(--c11);
      }
    }
    .select__placeholder{
      font-size: 1.6rem;
    }
    .select__menu{
      z-index: 10;
      box-shadow: none;
      margin-top: -1px;
      background-color: var(--cff);
      &-list{
        padding: 0;
        // max-height: 160px !important;
      }
    }
    .select__option{
      color: var(--c11);
      padding: 13px 19px;
      background-color: var(--cff);
      &--is-selected{
        background: var(--bgf5);
        font-weight: 400;
      }
      & + .select__option{
        margin-top: 0;
      }
    }
  }
}