.admin_product{
  .btn_del{
    i{
      svg{
        width: 14px;
        height: 14px;
      }
    }
  }
}


.admin_category{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  .categorybox{flex: 1;}
  .tbl{
    width: 100%;
    table tbody tr{
      cursor: pointer;
    }
  }
}


// 카테고리 관리 버튼박스
.btn_set{
  // display: flex;
  // align-items: center;
  // width: fit-content;
  button{
    margin-left: -1px;
    border-left: 1px solid transparent !important;
    &:first-child{
      border-left: 1px solid #d9d9d9 !important;
    }
    & + button{
      border-left: 1px solid #d9d9d9 !important;
    }
    &:hover{
      border: 1px solid var(--c11) !important;
      & + button{
        border-left: 1px solid var(--c11) !important;
      }
    }
    &:nth-child(even){
      transform: rotateX(180deg)
    }
  }
}