.adminlogin{
  display: flex;
  flex-direction: column;
  min-width: 370px;
  &_visual{
    width: 100%;
    justify-content: center;
    align-items: center;
    p{
      span{
        display: block;
        @include h0;
        font-weight: 400;
        line-height: 3.9rem;
        letter-spacing: -1%;
        &.headline4{
          @include h2;
          line-height: 2.5rem;
          letter-spacing: -1%;
          font-weight: 300;
          color: var(--c77);
        }
        strong{
          font-weight: 700;
        }
      }
    }
  }
  &_content{
    width: 100%;
  }
  &_info{
    padding: 15px 20px 0;
    p{
      @include h5(var(--c33));
      font-weight: 400;
      line-height: 2rem;
      span{
        display: block;
      }
    }
  }
  &_box{
    padding: 20px 20px 0;
    .title2{
      span{
        display: block;
        & + span{
          margin-top: 5px;
        }
      }
    }
    &_info{
      padding: 20px;
      background-color: var(--point);
      .title2{
        color: var(--cff);
        span{
          display: block;
          & + span{
            margin-top: 15px;
          }
        }
      }
    }
    &_input{
      background-color: var(--point);
      padding: 0 10px;
      > div{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 15px 10px;
        & + div{
          border-top: 1px solid rgba(0,0,0,0.1);
        }
      }
      label{
        @include body2;
        font-weight: 700;
        width: 50px;
        border-right: 1px solid rgba(0,0,0,0.1);
      }
      .adminlogin_input{
        flex: 1;
        padding: 0;
      }
    }
  }
  &_btn{
    > div {
      & + div{
        border-top: 1px solid var(--cdd);
      }
    }
  }
}