.admin_ordersales{
  .discount {
    position: relative;
    padding-left: 18px;
    color: var(--red);
    &:before {
      @include before_after;
      position: absolute;
      left: 4px;
      top: 50%;
      width: 6px;
      height: 6px;
      border: 1.5px solid var(--red);
      border-top: 0;
      border-right: 0;
      transform: translateY(-50%);
    }
  }
  .total{
    &_box{
      display: flex;
      gap: 12px;
      margin-bottom: 20px;
    }
    &_item{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      border: 1px solid #D9D9D9;
      border-radius: 8px;
    }
    &_tit{
      @include h5(var(--c11));
    }
    &_price{
      display: flex;
      align-items: flex-end;
      gap: 5px;
      p{
        @include h1(var(--c11));
        &.red_text{
          color: var(--red);
        }
      }
      span{
        @include body0(var(--c11));
      }
    }
  }
}

.admin_grapbox{
  padding: 20px;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  min-height: 400px;
}