//MZD mixin
@mixin h0($color: var(--c00)) {
  font-size: 3.2rem;
  font-weight: 700; //extra-bold
  color: $color;
}

@mixin h1($color: var(--c00)) {
  font-size: 2.4rem;
  font-weight: 700; //extra-bold
  color: $color;
}

@mixin h2($color: var(--c00)) {
  font-size: 2.1rem;
  font-weight: 700; //extra-bold
  color: $color;
}

@mixin h3($color: var(--c00)) {
  font-size: 2rem;
  font-weight: 700; //extra-bold
  color: $color;
}

@mixin h4($color: var(--c00)) {
  font-size: 1.8rem;
  font-weight: 700; //extra-bold
  color: $color;
}

@mixin h5($color: var(--c00)) {
  font-size: 1.6rem;
  font-weight: 700; //extra-bold
  color: $color;
}

@mixin body0($color: var(--c00)) {
  font-size: 1.6rem;
  font-weight: 400; //normal
  color: $color;
}

@mixin body1($color: var(--c00)) {
  font-size: 1.5rem;
  font-weight: 400; //normal
  color: $color;
}

@mixin body2($color: var(--c00)) {
  font-size: 1.4rem;
  font-weight: 400; //normal
  color: $color;
}

@mixin body3($color: var(--c00)) {
  font-size: 1.3rem;
  font-weight: 400; //normal
  color: $color;
}

@mixin body4($color: var(--c00)) {
  font-size: 1.2rem;
  font-weight: 400; //normal
  color: $color;
}

//믹스인 공통영역
@mixin rounded($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin shadow($x, $y, $blur, $color) {
  -webkit-box-shadow: $x $y $blur $color;
  -moz-box-shadow: $x $y $blur $color;
  box-shadow: $x $y $blur $color;
}
@mixin shadow-inset($x, $y, $blur, $color) {
  -webkit-box-shadow: inset $x $y $blur $color;
  -moz-box-shadow: inset $x $y $blur $color;
  box-shadow: inset $x $y $blur $color;
}
@mixin transition($property) {
  -webkit-transition: $property 0.2s ease;
  -moz-transition: $property 0.2s ease;
  -o-transition: $property 0.2s ease;
  transition: $property 0.2s ease;
}
@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin linear-gradient($from, $to, $deg) {
  /* Mozilla Firefox 3.6+ */
  background: -moz-linear-gradient($deg, $from 0%, $to 100%);
  /* Safari 4+, Chrome */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop(100%, $to));
  /* Safari 5.1+, Chrome 10+*/
  background: -webkit-linear-gradient($deg, $from 0%, $to 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient($deg, $from 0%, $to 100%);
  /* Ie 10+ */
  background: -ms-linear-gradient($deg, $from 0%, $to 100%);
  /* W3C */
  background: linear-gradient($deg, $from 0%, $to 100%);
  /* Ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to',GradientType=1);
}
@mixin clearfix() {
  // *zoom: 1;
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}
@mixin headline($color, $size) {
  color: $color;
  font-size: $size;
}

@mixin font($color, $size, $weight) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin before_after {
  display: block;
  content: '';
}

@mixin hide {
  //   overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

@mixin texthide {
  // position: absolute;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

@mixin inputhide {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

@mixin focus {
  border-color: rgba(48, 63, 79, 0.4);
  box-shadow: 0 0 4px 1px rgba(48, 63, 79, 0.2), 0 0 0 1px #e7e7e7;
  outline: 0;
}

@mixin m_auto {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

@mixin m_0_auto {
  left: 0;
  right: 0;
  bottom: auto;
  top: 0;
  margin: 0 auto;
}

@mixin border_common {
  border: 1px solid #c6c6c6;
}

// 믹스인 - 스크롤
@mixin scroll($axis, $_max-height: null) {
  @if $axis==x {
    overflow-x: visible;
    overflow-y: hidden;
    white-space: nowrap;
  } @else {
    @if $_max-height !=null {
      max-height: $_max-height;
    }

    overflow-x: hidden;
    overflow-y: visible;
    // overscroll-behavior:contain;
  }

  -webkit-overflow-scrolling: touch;
  // scroll-behavior:smooth;
}

// 믹스인 - 말줄임
@mixin clamp($clamp) {
  overflow: hidden;
  text-overflow: ellipsis;

  @if $clamp==1 {
    white-space: nowrap;
  } @else {
    -webkit-line-clamp: $clamp;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
