

.kdssetting{
  
  &_btn{
    &_small{
      min-width: 70px;
      min-height: 40px;
      font-size: 1.6rem;
      border-radius: 6px;
      background-color: #3E4B57;
      color: var(--cff);
    }
    &_large{
      min-width: 237px;
      min-height: 65px;
      font-size: 2rem;
      border-radius: 6px;
      background-color: #3E4B57;
      color: var(--cff);
    }
  }

  &_input{
    background-color: var(--cff) !important;
    padding: 0 !important;
    border: 0 !important;
    input{
      background-color: var(--cff);
      color: var(--c33) !important;
    }
    &_line{
      height: 55px !important;
      padding: 20px !important;
      border: 3px solid var(--cdd);
      border-radius: 6px;
      background-color: var(--cff) !important;
    }
  }
}
.kdsalert{
  &_btn{
    min-width: 175px;
    min-height: 65px;
    border-radius: 6px;
    color: var(--cff);
    font-size: 2rem;
    &.cancle{
      background-color: #ADB1B4;
    }
        &.confirm{
      background-color: #3E4B57;
    }
  }
}

@media (max-width: "1200px") {
  .tablebox{
    &.kds_tablebox {
      padding: 30px 20px;
      th{
        font-size: 2.0rem ;
      }
      td{
        font-size: 2.0rem ;
      }
    }
  }
  
}