.kdslogin{
  display: flex;
  flex-direction: column;
  min-width: 350px;
  &_visual{
    width: 100%;
    justify-content: center;
    align-items: center;
    p{
      span{
        display: block;
        @include h0;
        font-weight: 400;
        line-height: 3.9rem;
        letter-spacing: -1%;
        &.headline4{
          @include h2;
          line-height: 2.5rem;
          letter-spacing: -1%;
          font-weight: 300;
          color: var(--c77);
        }
        strong{
          font-weight: 700;
        }
      }
    }
  }
  &_content{
    width: 100%;
  }
  &_info{
    padding: 15px 20px 0;
    p{
      @include h5(var(--c33));
      font-weight: 400;
      line-height: 2rem;
      span{
        display: block;
      }
    }
  }
  &_box{
    position: relative;
    .error_txt{
      color: #ED5151;
      font-size: 16px;
    }
    &_input{
      > div{
        position: relative;
        display: flex;
        align-items: center;
        background-color: rgba($color: #fff, $alpha: 0.15);
        border-radius: 6px;
        width: 100%;
        padding: 15px 10px;
        & + div{
          border-top: 1px solid rgba(0,0,0,0.1);
        }
      }
      label{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
      }
      input{
        font-size: 20px;
        color: #fff;
        &::placeholder{
          color: #fff;
        }
      }
      .input_time__NYLmd{
        position: absolute;
        right: 10px;
        color:#fff !important;
      }
      .adminlogin_input{
        flex: 1;
        padding: 0;
      }
    }
  }
  &_btn{
    height: 75px;
    border-radius: 6px;
    font-size: 30px;
    color: #fff;
    background-color: var(--point);
    &:disabled{
      color: var(--cbb) !important;
      background-color: #3E4B57 !important;
    }
    &_blue{
      position: absolute;
      left: 100%;
      top: 0;
      min-width: 130px;
      min-height: 65px;
      margin-left: 15px;
      border-radius: 6px;
      font-size: 20px;
      color: #fff;
      background-color: var(--blue);
    }
  }
  &_input{
    span{
      color: var(--cff) !important;
      font-size: 16px !important;
    }
  }
  &_check{
    align-items: center !important;
    span{
      background-color: transparent;
      width: 35px;
      height: 35px;
      border-radius: 6px;
      & + span{
        width: auto;
        height: auto;
        color: rgba(255,255,255,0.7);
        margin-left: 14px !important;
        font-size: 18px;
      }
    }
    input{
      &:checked + span{
        border-color: #fff !important;
        background-color: transparent;
        width: 35px;
        height: 35px;
        border-radius: 6px;
        &:after{
          border-color: #fff !important;
        }
        & + span{
          width: auto;
          height: auto;
          color: rgba(255,255,255,0.7);
          margin-left: 14px !important;
          font-size: 18px;
        }
      }
    }
  }
  &_link{
    font-size: 18px;
    color: rgba(255,255,255,0.7);
  }
}