.myinfo{
  li{
    padding: 10.5px 0;
    border-bottom:  1px solid rgba(0, 0, 0, 0.1);
    > div{
      padding: 0 20px;
      width: 100%;
    }
  }
  label, dt{
    min-width: 82px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 4px;
    text-align: left;
    color: var(--c00);
    font-size : 1.4rem;
    font-weight: bold;
  }
  dd{
    width: 100%;
    .select{
      &.app{
        .select__control{
          padding: 0 20px;
        }
        .select__menu{
          margin-top: 10px;
        }
        .select__control--is-disabled{
          background-color: var(--cff);
          .select__indicator{
            display: none;
          }
        }
      }
    }
  }
}
