.orderhistory{
  padding: 20px;
  &_tab{
    &content{
      margin-top: 20px;
      flex-direction: column;
    }
  }
  &_card{
    width: 100%;
    border: 1px solid var(--ce7);
    &_title{
      display: flex;
      align-items: center;
      flex: 1;
      margin-top: 10px;
    }
    &_top{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      border-bottom: 1px solid var(--ce7);
      padding: 10px 20px 20px;
      .body3{
        color: var(--c77);
        & + .body3{
          color: var(--cbb);
        }
      }
      button{
        height: 16px;
        padding: 0;
        margin-top: 10px;
        span{
          font-weight: 400;
        }
      }
    }
    &_bottom{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // flex-wrap: wrap;
      padding: 0 20px 20px;
      > div{
        margin-top: 20px;
      }
      .headline5{
        font-weight: 500;
      }
      .body2{
        color: var(--c77);
      }
      .body0{
        color: var(--primary);
        font-weight: 500;
      }
    }
    &_img {
      display: flex;
      width: 80px;
      justify-content: center;
      align-items: center;
      padding: 8px;
      border-radius: 4px;
      background-color: #F8F8F8;
    }
  }
  &_modal{
    &_info{
      display: flex;
      align-items: center;
      min-height: 108px;
      background-color: var(--bgf5);
      padding: 13px 20px;
      i{
        width: 74px;
        padding-right: 10px;
      }
      ul{
        padding-left: 10px;
        // border-left: 1px solid rgba(0,0,0,0.1);
        li{
          @include body3;
          span{
            & + span{
              margin-left: 10px;
            }
          }
          & + li{
            margin-top: 5px;
          }
        }
      }
    }
    &_receipt{
      .receipt_top{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        p{
          &:first-child{
            flex: 1;
          }
          .body3{
            color: var(--c77);
            & + .body3{
              color: var(--cbb);
            }
          }
        }
      }
      .receipt_bottom{
        position: relative;
        .bg_icon{
          display: block;
          width: 170px;
          height: 170px;
          position: absolute;
          @include m_auto;
          z-index: 1;
        }
        .receipt_list{
          position: relative;
          z-index: 10;
          border-bottom: 1px solid var(--ce7);
          padding: 5px 0;
          > li{
            border-top: 1px solid var(--ce7);
          }
          &_product{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 10px;
            p{
              &:first-child{
                flex: 1;
              }
              strong{
                display: block;
                font-weight: 500;
                color: var(--c11);
              }
              span{
                display: block;
                color: var(--c33);
              }
            }
          }
          &_discount{
            > li{
              border-top: 1px dashed var(--ce7);
              padding: 10px;
              display: flex;
              justify-content: flex-end;
              align-items: flex-start;
              p{
                &.body2{
                  color: var(--red);
                }
                &:first-child{
                  flex: 1;
                  padding-left: 14px;
                  position: relative;
                  &::after{
                    @include before_after;
                    width: 6px;
                    height: 6px;
                    border: 1px solid var(--red);
                    border-top: 0;
                    border-right: 0;
                    position: absolute;
                    left: 4px;
                    top: 2px;
                  }
                }
              }
            }
          }
          &_sum{
            display: flex;
            padding: 10px;
            justify-content: flex-start;
            align-items: flex-start;
            p{
              &.body2{
                &.red{
                  color: var(--red);
                }
                
              }
              &:first-child{ 
                flex: 1;
              }
              strong{
                font-weight: 500;
                color: var(--c11);
                 &.body2{
                  &.red{
                    color: var(--red);
                  }
                  
                }
              }
            }
            &_discount{
              > li{
                border-top: 1px dashed var(--ce7);
                padding: 10px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
              }
               p{
                &.body2{
                  &.red{
                    color: var(--red);
                  }
                  
                }
                &:first-child{ 
                  flex: 1;
                }
                strong{
                  font-weight: 500;
                  color: var(--c11);
                  &.body2{
                    &.red{
                      color: var(--red);
                    }
                    
                  }
                }
              }
            }
          }
        }
      }
    }
    &_toss{
      dl{
        display: flex;
        justify-content: flex-end;
        @include body2(var(--c77));
        padding: 10px;
        dd{
          flex: 1;
          text-align: right;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .orderhistory{
    &_card{
      &_bottom{
        flex-wrap: wrap;
      }
      &_img {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}
