.payment{
  .headline4{
    color: var(--c11);
  }
  .body0 {
    color: var(--c33);
  }
  .coupon{
    .input_box {
      height: 50px;
    }
  }
  .togglebtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;    
    .arrow {
      display: block;
      width: 9px;
      height: 9px;      
      border: 2px solid #111111;
      border-top: 0;
      border-right: 0;
      margin-bottom: 5px;
      transform: rotate(-45deg);
      flex-shrink: 0;
      @include transition(all);
      &.red {
        border-color: var(--red-text);
      }
    }
    &.open {
      .arrow {
        margin-top: 7px;
        margin-bottom: 0;
        transform: rotate(-225deg);
      }
    }
    
  }
  //주문내역
  .orderlist{
    &_card{
      display: flex;
      align-items: center;
      justify-content: start;
      &:last-child{
        margin-bottom: 0;
      }
      &_img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        padding: 8px;
        background-color: #f3f4f5;
      }
      &_info{
        flex: 1;
        .title{
          @include h5(var(--c33));
        }
        .price{
          @include font(var(--c88), 1.4rem, 500);
        }
        .hoticed{
          @include body2;
          text-transform: uppercase;
          &.hot{
            color: var(--red-text);
          }
          &.iced{
            color: #3B82F6;
          }
          
        }
        .option{
          position: relative;
          @include body2(var(--c77));
          &::before{
            content: '';
            display: inline-block;
            width: 1px;
            height: 12px;
            margin: 0 6px;
            background-color: var(--cdd);
          }
        }
        .total{
          @include h4(var(--primary));
          font-weight: 600;          
            em {
              @include font(var(--primary), 1.7rem, 400);
            }
        }
      }
    }
  }
  &_info{
    &_list{
      li{
        p {
          @include body2(var(--c33));
          span {
            font-weight: 500;
          }
          &.red_text{
            color: var(--red-text);
          }
        }
        .togglebtn{
          width: 14px;
          height: 14px;
          .arrow{
            width: 7px;
            height: 7px;
            border-width: 1px;
            margin-bottom: 4px;
          }
          &.open{
            .arrow{
              margin-top: 5px;
            }
          }
        }
      } 
      .discount{
        padding: 14px 0 20px;
        border-top: 1px dashed var(--ce0);
        > li{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          &:last-child{
            margin-bottom: 0;
          }
          &.detail{
            position: relative;
            padding-left: 18px;
            &::before{
              @include before_after;
              position: absolute;
              left: 4px;
              top: 4px;
              width: 6px;
              height: 6px;
              border: 1px solid var(--c33);
              border-top: 0;
              border-right: 0;
            }
          }
        }
      }
    }
    &_total{
      padding-top: 20px;
      border-top: 1px solid var(--cee);
      .red_text{
        color: var(--red-text);
      }
    }    
  }
  &_caution{
    ul{
      li{
        counter-increment: item;
        position: relative;
        padding-left: 15px;
        line-height: 20px;
        font-size: 1.4rem;
        color: var(--c99);
        & + li{
          margin-top: 10px;
        }
        &::before{
          content: counters(item, ".") ".";
          position: absolute;
          left: 0;
        }
      }
    }
  }
}

//쿠폰
.couponlist{
  &_wrap{
    padding: 15px;
    border: 1px solid var(--ce0);
    &.line{
      border-color: var(--c00);
    }
  }
  &_total {
    text-align: right;
    @include body0(#4C3D3A);
  }
  &_card{
    display: flex;
    align-items: flex-start;    
    flex: 1;   
    &_img{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 80px;
      height: 80px;
      // padding: 8px;
      background-color: #f3f4f5;
    }
    &_info{
      align-self: center;
      line-height: normal;
      .issuer{
        @include h5(var(--c11));
      }
      .title{
        @include body2(var(--c33));
      }
      .date{
        @include body2(var(--c77));
      }
    }
  }
}

@media (max-width : "320px") {
  .couponlist_card{
    flex-wrap: wrap;
    margin-left: 10px;
    &_img{
      width: 100%;
      height: auto;
      margin: 0!important;
      margin-bottom: 10px !important;
    }
    
  }
}